@import "tailwindcss";

@theme {
    --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
    --font-serif: "Newsreader", "Georgia", "Cambria", "Times New Roman", "Times", "serif";

    --color-bg-light: #fbfaf8;
    --color-text-light: #111;
    --color-bg-dark: #0c0c0c;
    --color-text-dark: #eee;
}

@layer base {
    html {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    html::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
    }

    body {
        @apply antialiased text-[#111] bg-[#fbfaf8] selection:bg-[#e2e2e2] transition-colors duration-300;
        font-family: var(--font-sans);
    }

    .dark body {
        @apply text-[#d1d1d1] bg-[#0a0a0a] selection:bg-[#333];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
        @apply font-normal tracking-tight transition-colors duration-300 text-[#000];
    }

    .dark h1,
    .dark h2,
    .dark h3,
    .dark h4,
    .dark h5,
    .dark h6 {
        @apply text-[#fff];
    }

    p,
    span,
    li {
        @apply transition-colors duration-300;
    }
}

.brandur-link {
    @apply border-b border-[#cccccc] hover:border-[#111] transition-colors duration-200 no-underline text-inherit;
}

.dark .brandur-link {
    @apply border-[#333] hover:border-[#fff];
}